# Julia temporary/cache files
*.ji

# System files
.DS_Store
Thumbs.db

# Local Julia folders
.julia/

# Calculation results
/scripts/liom_mag_dane/

# Generated plots
/plots/lioms_wykresy/
/plots/trainship_figures/